<div class="row">
  <div class="col-12">
    <div class="card card-table">
      <div class="card-header">
        <div class="tools">
        </div>
        <div class="title">Models</div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th>Model Name</th>
              <th>Make</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody class="no-border-x">
            <tr>
              <% @models.each do |model| %>
                <tr>
                  <td><%= model.name %></td>
                  <td><%= model.make.name %></td>
                  <td><%= link_to 'Edit', edit_make_model_path(model.make, model) %></td>
                  <td><%= link_to 'Delete', make_model_path(model.make, model), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
