<div class="col-lg-6">
  <div class="card card-border-color card-border-color-primary">
    <div class="card-header card-header-divider">
      New Customer
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Back', organization_customers_path(@organization) %>
