<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<%= link_to 'Edit', edit_organization_customer_path(@organization, @customer) %> |
<%= link_to 'Back', organization_customers_path(@organization) %>
