<div class="row">
  <div class="col-12">
    <div class="card card-table">
      <div class="card-header">
        <div class="tools">
        </div>
        <div class="title">Unknown Makes</div>
      </div>
      <div class="card-body table-responsive">
        <h3></h3>
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th>Auto Title</th>
            </tr>
          </thead>
          <tbody class="no-border-x">
            <tr>
              <% @unknown_makes.each do |car| %>
                <tr>
                  <td><%= car.title %></td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-table">
      <div class="card-header">
        <div class="tools">
        </div>
        <div class="title">Unknown Models</div>
      </div>
      <div class="card-body table-responsive">
        <h3></h3>
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th>Auto Title</th>
            </tr>
          </thead>
          <tbody class="no-border-x">
            <tr>
              <% @unknown_models.each do |car| %>
                <tr>
                  <td><%= car.title %></td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>
